Django
gunicorn
django-heroku
asgiref
certifi
chardet
defusedxml
dj-database-url
django-address
django-allauth
django-crispy-forms
django-taggit
idna
oauthlib
psycopg2
python3-openid
pytz
requests
requests-oauthlib
sqlparse
urllib3
whitenoise
